form.form(action='', method='POST')
  .form__group
    label.form__label(for='name') Name
    input#name.form__control(type='text', name='name')

  .form__group
    label.form__label(for='email') Email
    input#email.form__control(type='text', name='email')

  .form__group
    label.form__label(for='contact_no') Contact Number
    input#contact_no.form__control(type='text', name='contact_no')

  .form__group
    button.form__control.btn-primary(type='submit') Submit
