$medium: new-breakpoint(min-width $medium_breakpoint_value);
$medium_to_large: new-breakpoint(min-width $medium_breakpoint_value max-width $large_breakpoint_value);
$large: new-breakpoint(min-width $large_breakpoint_value);

