// Color variables
$black: #333333;
$gray: #808285;
$white: #ffffff;
$pink: #ef5ba1;
$red: #b11c54;

// Usage Variables
$primary-text-color: $black;
$input-background-color: $white;
$input-border-color: $gray;
$footer-text-color: $white;

// theme colors
$footer-background-color: $gray;
$sub-header-background-color: $pink;
$btn-primary-color: $red;
