// Color variables
$black: #333333;
$gray: #cccccc;
$white: #ffffff;

// Usage Variables
$primary-text-color: $black;
$input-background-color: $white;
$input-border-color: $gray;
$footer-background-color: $gray;
