@mixin headings($from: 1, $to: 6){
  @for $i from $from through $to{
    h#{$i}{
      @content
    }
  }
}

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) {
        margin-right: flex-gutter();
    }
    &:nth-child(#{$nth}+1) {
        clear: none;
    }
}

@mixin container-padding($small-padding: 1rem, $medium-padding: 2rem, $large-padding: 4rem) {
  padding: $small-padding;

  @include media($medium_to_large) {
    padding-left: $medium-padding;
    padding-right: $medium-padding;
  }
  @include media($large) {
    padding-left: $large-padding;
    padding-right: $large-padding;
  }
}