.select-container {
  border: 1px solid $input-border-color;
}

#{$all-text-inputs} {
  padding: 0.85em;
  border: 1px solid $input-border-color;
}

select {
  width: $full-width;
  height: 3em;
  border: none;
  background-color: $white;
}