html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 1em;
  line-height: 1.25; }
  @media screen and (min-width: 43.75em) {
    body {
      line-height: 1.375; } }

h1 {
  font-size: 2em;
  line-height: 1.25; }
  @media screen and (min-width: 43.75em) {
    h1 {
      font-size: 2.5em;
      line-height: 1.125; } }
  @media screen and (min-width: 56.25em) {
    h1 {
      font-size: 3em;
      line-height: 1.05; } }

h2 {
  font-size: 1.625em;
  line-height: 1.15; }
  @media screen and (min-width: 43.75em) {
    h2 {
      font-size: 2em;
      line-height: 1.25; } }
  @media screen and (min-width: 56.25em) {
    h2 {
      font-size: 2.25em; } }

h3 {
  font-size: 1.375em;
  line-height: 1.14; }
  @media screen and (min-width: 43.75em) {
    h3 {
      font-size: 1.5em;
      line-height: 1.25; } }
  @media screen and (min-width: 56.25em) {
    h3 {
      font-size: 1.75em; } }

h4 {
  font-size: 1.125em;
  line-height: 1.11; }
  @media screen and (min-width: 43.75em) {
    h4 {
      line-height: 1.22; } }

blockquote {
  font-size: 1.25em;
  line-height: 1.25; }
  @media screen and (min-width: 43.75em) {
    blockquote {
      font-size: 1.5em;
      line-height: 1.458; } }
