footer.footer
	.footer__navigation
		h4.footer__label Quick Links
		ul.footer__navigation--menu
			li.navigation__item
				a.navigation__link(href="/home", title='Link to home page') Home
			li.navigation__item
				a.navigation__link(href="/events", title='Link to upcoming events') Events
			li.navigation__item
				a.navigation__link(href="/support", title='Link to support page') Support
			li.navigation__item
				a.navigation__link(href="/apparel", title='Link to contact page') Contact
	
	.footer__promotions
		h4.footer__label Announcements / promoted Content
		p Lorem ipsum dolor sit amet, consectetur adipiscing elit.
			Aliquam sodales urna non odio egestas tempor. Nunc vel vehicula ante.     

	.footer__upcoming-product
		figcaption
			h4.footer__label Coming Soon
		img(src='./assets/images/no-image-available.jpeg', alt='no image available')
