.section {
  padding: 1rem;

  @include media($medium) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  @include media($large) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

.products {
  @include outer-container($full-width);
}

  .product__item {
    @include span-columns(6);
    @include omega(2);

    @include media($medium) {
      @include span-columns(3);
      @include omega-reset(2);
      @include omega(4);
    }
  }
