.select-container {
  @include span-columns(6);

  @include media($medium) {
    display: none;
  }
}

.page-title {
  @include span-columns(6);
  @include omega();

  @include media($medium_to_large) {
    @include span-columns(4);
  }

  @include media($large) {
    @include span-columns(3);
  }
}

.navigation {
  display: none;

  @include media($medium_to_large) {
    @include span-columns(8);
    @include omega();
  }

  @include media($large) {
    @include span-columns(6);
    @include shift(3);
    @include omega();
  }
}

.navigation__menu {
  @include outer-container($full-width);

  .navigation__item {
    @include span-columns(2 of 10);
    text-align: center;
  }
}

.navigation__link {
  display: block;
  padding: 0.75em 0;
  @include transition(all 0.2s ease-out);

  &:hover, &:focus, &:active, &:visited {
    @include transform(translate(0,-2px));
    opacity: 0.5;
  }
}
