extends layout

block content
  - var product_list = {1:{'image': './assets/images/p1.jpg', 'image_medium': './assets/images/p1_medium.jpg, ./assets/images/p1_medium_retina.jpg 2x', 'image_small': './assets/images/p1_small.jpg, ./assets/images/p1_small_retina.jpg 2x', 'title': 'Item Title', 'category': 'Item1 Category', 'price': '$88.0'}, 2:{'image': './assets/images/p1.jpg', 'image_medium': './assets/images/p1_medium.jpg, ./assets/images/p1_medium_retina.jpg 2x', 'image_small': './assets/images/p1_small.jpg, ./assets/images/p1_small_retina.jpg 2x', 'title': 'Item Title', 'category': 'Item2 Category', 'price': '$98.0'}, 3:{'image': './assets/images/p1.jpg', 'image_medium': './assets/images/p1_medium.jpg, ./assets/images/p1_medium_retina.jpg 2x', 'image_small': './assets/images/p1_small.jpg, ./assets/images/p1_small_retina.jpg 2x', 'title': 'Item Title', 'category': 'Item3 Category', 'price': '$28.0'},4:{'image': './assets/images/p1.jpg', 'image_medium': './assets/images/p1_medium.jpg, ./assets/images/p1_medium_retina.jpg 2x', 'image_small': './assets/images/p1_small.jpg, ./assets/images/p1_small_retina.jpg 2x', 'title': 'Item Title', 'category': 'Item4 Category', 'price': '$67.0'}}

    include partials/home/_slider

    h3.section__heading Intro Copy Headline

    p.section__description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at est at nisi tristique fermentum a quis mauris. Suspendisse ut finibus magna. In vulputate dui at lorem tincidunt posuere. In ut cursus nulla, sed semper urna. Praesent tincidunt mattis nisi, ac porttitor tellus dapibus sed. Proin ac dui id leo tristique fringilla a nec nulla. Suspendisse iaculis justo vitae ligula vehicula, vel malesuada odio consequat. Sed nec fermentum nibh, quis sollicitudin sem. Donec molestie feugiat ex quis vulputate. Sed convallis purus sed arcu blandit placerat. Donec sed erat lectus. Praesent non magna non mi blandit blandit.

    include partials/home/_product-list
