.navigation__menu {
  @include outer-container($full-width);

  .navigation__item {
    @include span-columns(2 of 10);
    text-align: center;
  }
}

.navigation__link {
  display: block;
  padding: 0.75em 0;
  @include transition(all 0.2s ease-out);

  &:hover, &:focus, &:active, &:visited {
    @include transform(translate(0,-2px));
    opacity: 0.5;
  }
}