.sub-header__search {
  text-align: center;

  .search__input {
    border: none;
    color: $search-input-text-color;
    border-bottom: 1px solid $search-input-text-color ;
    background-color: $search-input-background-color;

    @include media($medium) {
      width: 70%;
    }
  }

  .search__button {
    border: none;
    padding: 1em;
    @include background(url('../../assets/images/search_icon.png'), no-repeat, $search-input-background-color);
    background-size: cover;
  }
}

.search__input::-moz-placeholder {
  color: $search-input-text-color;
}

.search__input:-ms-input-placeholder {
  color: $search-input-text-color;
}

.search__input::-webkit-input-placeholder {
  color: $search-input-text-color;
}