section.main_section

  //include _slider

  h3.section_heading Intro Copy Headline

  p.section_description Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam at est at nisi tristique fermentum a quis mauris. Suspendisse ut finibus magna. In vulputate dui at lorem tincidunt posuere. In ut cursus nulla, sed semper urna. Praesent tincidunt mattis nisi, ac porttitor tellus dapibus sed. Proin ac dui id leo tristique fringilla a nec nulla. Suspendisse iaculis justo vitae ligula vehicula, vel malesuada odio consequat. Sed nec fermentum nibh, quis sollicitudin sem. Donec molestie feugiat ex quis vulputate. Sed convallis purus sed arcu blandit placerat. Donec sed erat lectus. Praesent non magna non mi blandit blandit.

  ul.products_section
    li.product_item
      a.product_link(href="javascript:void(0)", title='product1')
        img(src="./assets/p1.jpg")
        h4 Item Title
        p.product_category Item Category
        p.product_price $88.0

    li.product_item
      a.product_link(href="javascript:void(0)", title='product1')
        img(src="./assets/p1.jpg")
        h4 Item Title
        p.product_category Item Category
        p.product_price $88.0

    li.product_item
      a.product_link(href="javascript:void(0)", title='product1')
        img(src="./assets/p1.jpg")
        h4 Item Title
        p.product_category Item Category
        p.product_price $88.0

    li.product_item
      a.product_link(href="javascript:void(0)", title='product1')
        img(src="./assets/p1.jpg")
        h4 Item Title
        p.product_category Item Category
        p.product_price $88.0
