script(src="./assets/scripts/libs/jquery-2.2.0.min.js", type="text/javascript")
script(src="./assets/scripts/libs/jquery.bxslider.min.js", type="text/javascript")
script document.createElement("picture")
script(src="./assets/scripts/libs/picturefill.js", type="text/javascript")
script(src="./assets/scripts/application.js", type="text/javascript")
